[workspace]
members = [
    "cli",
    "core",
    {%- if include_wasm %}
    "wasm",
    {%- endif %}
    {%- if include_go %}
    "go",
    "go-wasm",
    {%- endif %}
    {%- if include_web_leptos %}
    "web-leptos",
    {%- endif %}
]

{%- if include_python %}
exclude = [
    "python",
]
{%- endif %}

resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MPL-2.0"
rust-version = "1.85"
authors = ["{{ author_name }}"]

[profile.release]
lto = true

[workspace.lints.rust]
unsafe_code = "forbid"
missing_docs = "warn"

[workspace.lints.clippy]
# Lint groups have lower priority than individual lints
all = { level = "warn", priority = -1 }
pedantic = { level = "warn", priority = -1 }
nursery = { level = "warn", priority = -1 }
# Individual lints with higher priority
unwrap_used = "deny"
expect_used = "deny"
