[workspace]
members = [
    "cli",
    "core",
    {%- if include_wasm %}
    "wasm",
    {%- endif %}
    {%- if include_go %}
    "go",
    {%- endif %}
]

{%- if include_python %}
exclude = [
    "python",
]
{%- endif %}

resolver = "2"

[profile.release]
lto = true
