set shell := ["bash", "-c"]
set dotenv-load := true

{%- if include_wasm %}
mod web
{%- endif %}

{%- if include_python %}
mod python
{%- endif %}

# Default action is to list all available tasks
@default:
    @just --list

setup:
    #!/usr/bin/env bash
    set -e

    if [[ "$OSTYPE" == "darwin"* ]]; then
        just mac-setup
    fi

    devbox install
    {%- if include_python %}
    (cd python && uv venv)
    (cd python && uv sync)
    {%- endif %}
    mise trust
    mise install
    rustup toolchain install nightly
    cargo install cargo-binstall
    cargo binstall cargo-llvm-cov --secure --no-confirm
    rustup component add llvm-tools-preview
    rustup component add rustfmt
    rustup component add clippy
    cargo binstall cargo-nextest --secure --no-confirm
    pre-commit install
    pre-commit install-hooks

mac-setup:
    #!/usr/bin/env bash
    set -e

    brew install libiconv llvm
    cargo binstall cargo-llvm-cov --secure --no-confirm
    rustup component add llvm-tools-preview
    rustup component add llvm-tools-preview --toolchain nightly-aarch64-apple-darwin
    if ! xcode-select -p >/dev/null 2>&1; then
        xcode-select --install
        sudo xcode-select --switch /Library/Developer/CommandLineTools
    fi

update-deps:
    cargo update

# Development tasks
watch:
    cargo watch -x check -x test

# Rust tasks
rust-check:
    cargo check --all-targets

rust-test:
    cargo nextest run --all-targets --no-fail-fast
    cargo test --doc --no-fail-fast

rust-doc:
    cargo doc --no-deps --document-private-items

rust-audit:
    cargo audit || exit 1
    cargo deny check || exit 1

rust-build:
    cargo build

rust-fmt:
    cargo fmt --all

rust-clippy:
    cargo clippy --all-targets -- -D warnings

rust-clean:
    cargo clean

copyright:
    fd -e rs -e ts -e js -e jsx -e tsx | xargs addlicense -f copyright.tmpl -c "{{ author_name }}" -v -s

copyright-check:
    fd -e rs -e ts -e js -e jsx -e tsx | xargs addlicense -f copyright.tmpl -c "{{ author_name }}" -v -s -check

# Combined tasks
check: rust-check rust-fmt rust-clippy rust-audit copyright-check
    {%- if include_wasm %}
    just web lint
    {%- endif %}
    {%- if include_python %}
    just python lint
    {%- endif %}

test: rust-test
    {%- if include_wasm %}
    just web test
    {%- endif %}
    {%- if include_python %}
    just python test
    {%- endif %}

cov:
    #!/usr/bin/env bash
    set -e
    
    if [[ "$OSTYPE" == "darwin"* ]]; then
        cargo +nightly llvm-cov nextest
    else
        cargo llvm-cov nextest
    fi

cov-local:
    #!/usr/bin/env bash
    set -e
    
    if [[ "$OSTYPE" == "darwin"* ]]; then
        cargo +nightly llvm-cov nextest --no-fail-fast --text --show-missing-lines --mcdc
    else
        cargo llvm-cov nextest --no-fail-fast --text --show-missing-lines --mcdc
    fi

build: rust-build
    {%- if include_wasm %}
    just web build
    {%- endif %}
    {%- if include_python %}
    just python build
    {%- endif %}

clean: rust-clean
    {%- if include_wasm %}
    just web clean
    {%- endif %}
    {%- if include_python %}
    just python clean
    {%- endif %}

{%- if include_wasm %}
web-dev: build
    just web dev
{%- endif %}

# CI tasks
ci: build check test cov
