[tools]
"go:github.com/google/addlicense" = "latest"
cargo-binstall = "latest"
direnv = "latest"
fd = "latest"
go = "prefix:1.24"
golangci-lint = "latest"
jq = "latest"
just = "latest"
node = "lts"
pre-commit = "latest"
python = "prefix:3.12"
rust = "prefix:1.85"
uv = "latest"

[settings]
experimental = true
