#!/usr/bin/env bash
#MISE description="Clean generated artifacts"
set -euo pipefail

mise run rust:clean
{% if include_wasm %}
mise run web:clean
{% endif %}
{% if include_python %}
mise run python:clean
{% endif %}
{% if include_go %}
mise run go:clean
mise run go-wasm:clean
{% endif %}
{% if include_web_leptos %}
mise run web-leptos:clean
{% endif %}
