"""{{ project_name }} Python bindings.

A simple arithmetic expression parser that can evaluate expressions like "1+2+3".

Example:
    >>> from my_awesome_project import parse
    >>> parse("1+2+3")
    '6'
"""

from .{{ project_slug_underscore }} import __version__, parse

__all__ = ["__version__", "parse"]
