#!/usr/bin/env bash

set -euo pipefail

cd "${MISE_PROJECT_ROOT}"

cargo build --package {{ project_slug }}-go-wasm --target wasm32-wasip1 --release
cp target/wasm32-wasip1/release/{{ project_slug_underscore }}_go_wasm.wasm go-wasm/go/{{ project_slug_underscore }}_go_wasm.wasm \
    || cp target/wasm32-wasip1/release/{{ project_slug_underscore }}_go.wasm go-wasm/go/{{ project_slug_underscore }}_go_wasm.wasm

cd go-wasm/go

go mod tidy
