#!/usr/bin/env bash

set -euo pipefail

mise trust
mise install

if [[ "$OSTYPE" == "darwin"* ]]; then
    mise mac-setup
fi

{% if include_python %}
(cd python && uv venv)
(cd python && uv sync)
{% endif %}

rustup toolchain install nightly
{% if include_go %}
rustup target add wasm32-wasip1
{% endif %}
rustup component add llvm-tools-preview
rustup component add rustfmt
rustup component add clippy
pre-commit install
pre-commit install-hooks
