#!/usr/bin/env bash

set -euo pipefail

# Have to use `--dev` to avoid this error:
#
# [vite]: Rollup failed to resolve import "__wbindgen_externref_xform__" from "/Users/user/workplace/{{ project_slug }}/web/pkg/wasm.js".
#
# See: https://github.com/rustwasm/wasm-bindgen/issues/2160
# See: https://github.com/rustwasm/wasm-bindgen/discussions/3500#discussioncomment-6334669
pushd "${MISE_PROJECT_ROOT}/wasm" >/dev/null
RUSTFLAGS='-C opt-level=s -C codegen-units=1' wasm-pack build --target web --out-dir ../web/pkg --dev
popd >/dev/null

pushd "${MISE_PROJECT_ROOT}/web" >/dev/null
bun install
popd >/dev/null
