[package]
name = "{{ project_slug }}-go"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
{{ project_slug }}-core = { path = "../core" }
libc = "0.2"
anyhow = "1.0"
